<h2>商品編集画面</h2>

<%= form_with model:@item,url:admin_item_path do |f| %>

  <h4>ジャンル</h4>
  <%= f.collection_select(:genre_id,@genres,:id,:name) %>
　<h4>商品名</h4>
  <%= f.text_field :name %>
  <h4>商品画像</h4>
  <%= f.file_field :image,accept:"image/*" %>
  <h4>商品説明</h4>
  <%= f.text_area :introduction %>
  <h4>税抜価格</h4>
  <%= f.number_field :price %>

  <%= f.submit '保存' %>

<% end %>