<h4>商品詳細</h4>

  <td>
    <%= image_tag @item.get_image %>
  </td>
  <td>
    <%= @item.name %>
  </td>
  <td>
    <%= @item.introduction %>
  </td>
  <td>
    ¥<%= @item.price %> (税抜)
  </td>
  <td>
    <%= @item.genre.name %>
  </td>
  <td>
    <%= link_to "Edit",edit_admin_item_path(@item.id) %>
  </td>
