<h2>顧客一覧</h2>
  <% @customers.each do |customer| %>
    <td>
     <%= link_to admin_customer_path(customer.id) do %>
      <p><%= customer.id %></p>
     <% end %>
     <p><%= customer.last_name %><%=" " %><%= customer.first_name %></p>
    </td>
  <% end %>