<div class="container">
  <div class="row">
    <div class="ml-5 mb-3 font-weight-bold bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</div>
  </div>

  <div class="row mb-auto">
    <label class="col-sm-4 font-weight-bold">会員ID</label>
    <div class="col-sm-8">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">氏名</label>
    <div class="col-sm-8">
      <%= @customer.last_name %> <%= @customer.first_name %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">フリガナ</label>
    <div class="col-sm-8">
      <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">郵便番号</label>
    <div class="col-sm-8">
      <%= @customer.postal_code %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">住所</label>
    <div class="col-sm-8">
      <%= @customer.address %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">電話番号</label>
    <div class="col-sm-8">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">メールアドレス</label>
    <div class="col-sm-8">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold">会員ステータス</label>
    <div class="col-sm-8">
      <% if @customer.is_deleted == true %>
        <%= "退会" %>
      <% else %>
        <%= "有効" %>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-4 font-weight-bold"></label>
    <div class="col-sm-4">
      <%= link_to "編集する",edit_admin_customer_path(@customer.id),class:"btn btn-success" %>
    </div>
    <div class="col-sm-4">
      <%= link_to "注文履歴一覧を見る",edit_admin_customer_path(@customer.id),class:"btn btn-primary" %>
    </div>
  </div>
</div>

