
<% @genres.each do |genre| %>
<div class="">
  <p><%= genre.name %></p>
  <%= link_to "編集",edit_admin_genre_path(genre.id) %>
</div>
<% end %>




<%= form_with model:@genre,url:admin_genres_path do |f| %>
    <%= f.text_field :name %>
    <%= f.submit '追加' %>
<% end %>