<div class="container">
  <div class="row">
    <div class="ml-5 mb-3 font-weight-bold bg-light">配送先編集</div>
  </div>
   <%= form_with model:@address do |f| %>
    <div class="row mb-2">
      <label class="col-sm-3 ">郵便番号（ハイフンなし）</label>
      <div class="col-sm-9">
        <%= f.text_field :postal_code %>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-3 l">住所</label>
      <div class="col-sm-9">
        <%= f.text_field :address,class:"form form-control" %>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-3 ">宛名</label>
      <div class="col-sm-5">
        <%= f.text_field :name %>
      </div>
      <div class="col-sm-2">
      <%= f.submit '変更内容を保存',class:"btn btn-success" %>
      </div>
    </div>
    <% end %>
</div>