<div class="container">
  <table class="table">
    <thead class="table-borderless">
      <%= form_with model:@address,url:addresses_path do |f| %>
        <tr class="table-borderless">
          <td>郵便番号（ハイフンなし）</td>
          <td>
          <%= f.number_field :postal_code %>
          </td>
        </tr>
        <tr>
          <td>住所</td>
          <td>
            <%= f.text_field :address %>
          </td>
        </tr>
        <tr>
          <td>氏名</td>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <td></td><td></td><td><%= f.submit '新規登録',class:"btn-success" %></td>
        </tr>
      <% end %>
    </thead>
    <tbody class="table-bordered border-dark">
      <tr class="table-active">
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
      </tr>
      <tr>
        <% @addresses.each do |address| %>
         <td><%= address.postal_code %></td>
         <td><%= address.address %></td>
         <td><%= address.name %></td>
         <td class="mx-auto">
          <%=link_to "編集者する",edit_address_path(address.id),class:"btn-success" %>
         </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>