<div class="container">
  <div class="row">
    <div class="ml-5 mb-3 font-weight-bold bg-light">注文履歴詳細</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-7">
    　<div class=" mb-2 font-weight-bold ">注文情報</div>
      <table class="table table-bordered border-dark">
        <tbody>
          <tr>
           <td class="table-active border border-dark">注文日</td>
           <td class="border border-dark">
             <%= @order.created_at %>
           </td>
          </tr>
          <tr>
           <td class="table-active border border-dark">配送先</td>
           <td class="border border-dark">
             〒<%= @order.postal_code %></br>
             <%= @order.address %></br>
             <%= @order.name %>
           </td>
          </tr>
          <tr>
           <td class="table-active border border-dark">支払方法</td>
           <td class="border border-dark">
             <%= @order.payment_method_i18n %>
           </td>
          </tr>
          <tr>
           <td class="table-active border border-dark">ステータス</td>
           <td class="border border-dark">
              <%= @order.status_i18n %>
           </td>
          </tr>
          <tr>
           <td class="border border-dark"><%#= order_detail.item.add_tax_price.to_s(:dalimited) %></td>
           <td class="border border-dark">
             <%= @order_detail.amount %>
           </td>
           <td class="border border-dark">
             <%#= @order.order_detail.sub_total.to_s(:dalimited) %>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered border-dark">
      　<div class=" mb-2 font-weight-bold ">請求情報</div>
        <tbody>
          <tr>
           <td class="table-active border border-dark">商品合計</td>
           <td class="border border-dark">
             <%#= .price %>
           </td>
          </tr>
          <tr>
           <td class="table-active border border-dark">配送料</td>
           <td class="border border-dark">
             <%= @order.shopping_cost %>
           </td>
          </tr>
          <tr>
           <td class="table-active border border-dark font-weight-bold">ご請求額</td>
           <td class="border border-dark">
             <%= @order.total_payment.to_s(:delimited) %>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-0">
    <label class="col-sm-2 col-form-label font-weight-bold">お届け先</label>
    <div class="col-sm-10">
      〒<%= @order.postal_code %><%= @order.address %>
    </div>
  </div>
  <div class="row mb-3 pt-0">
    <label class="col-sm-2 col-form-label font-weight-bold"></label>
    <div class="col-sm-10">
      <%= @order.name %>
    </div>
  </div>
</div>