<div class="container">
  <div class="row">
    <div class="ml-3 mb-3 font-weight-bold bg-light">ログイン</div>
  </div>
  <div class="row">
    <div class="ml-4 mb-3 font-weight-bold bg-light">会員の方はこちらからログイン</div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mb-1">
    <label class="col-sm-3 font-weight-bold">メールアドレス</label>
    <div class="col-sm-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="row mb-1">
    <label class="col-sm-3 font-weight-bold">パスワード</label>
    <div class="col-sm-8">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>
  <div class="row mb-1">
    <label class="col-sm-3 font-weight-bold"></label>
    <div class="col-sm-8">
      <%="　"%> <%= f.submit "ログイン",class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="ml-4 mb-3 font-weight-bold bg-light">会員登録がお済みでない方</div>
  </div>
  <div class="row">
    <div class="col">
    <%= link_to "こちら",new_customer_registration_path %>から新規登録を行なってください
    </div>
  </div>
</div>