<div class="container">
  <div class="row">
    <div class="col-md-2 flex flex-column bd-highlight">
      <div class="border">
        <h6>ジャンル検索</h6>
      </div>
      <div class="border">
        <% @genres.each do |genre| %>
        <div class="">
          <%= genre.name %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= image_tag @item.get_image(300,300) %>
    </div>
    <div class="col-md-6 flex-column">
      <div>
        <%= @item.name %>
      </div>
      <div>
          <%= @item.introduction %>
      </div>
      <div>
          ¥<%= @item.add_tax_price.to_s(:delimited) %><%= "（税込）" %>
      </div>
      <%= form_with model: @cart_item,url:cart_items_path,method: :post,local:true do |f| %>
        <% if customer_signed_in? %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <% end %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount,[1,2,3,4,5,6,7,8,9,10],{include_blank: '個数選択'},required:true%>&emsp;
        <%= f.submit 'カートに入れる' ,class: 'btn btn-success btn-sm'%>
      <% end %>
    </div>
  </div>
</div>