<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="border border-dark m-2">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand py-2 px-5 border border-dark" href="/">
            <span>LOGO</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expand="false" aria-label="Toggle navigation">
            <sppan class="navbar-toggler-icon"></sppan>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class:'nav-link text-dark border rounded m-1' %>
                </li>
              <% else %>
                <% if admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "商品一覧",admin_items_path,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員一覧", admin_customers_path,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                  <li class="nav-item">
                    <%#= link_to "注文履歴一覧", admin_orders_path,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ジャンル一覧", admin_genres_path,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "新規登録", new_customer_registration_path,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_customer_session_path,class:'nav-link text-dark border rounded m-1' %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
  </body>
</html>
